/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2015, 11:55:12 AM
    Author     : BronyakinD
*/

.title{
	font-size: 32px;
	text-align: center;
}

.subtitle{
	font-size: 24px;
	text-align: center;
}

.player-index{
	width: 100%;
	text-align: center;
}

.player-line
{
	display: table-row;
	text-align: left;
	width: 80%;
	line-height: 35px;
}

.name
{
	font-size: 20px;
	width: 30%;
	display: table-cell;
}

.score
{
	font-size: 25px;
	width: 20%;
	padding: 0 20px 0 20px;
	display: table-cell;
	text-align: right;
}

.rating {
	width: 20%;
	display: table-cell;
}
.formula {
	width: 30%;
	display: table-cell;
}

.rating>input {
	text-align: right;
	font-size: 25px;
	padding: 2px 5px 2px 10px;
	width: 80px;
}

.save{
	font-size: 25px;
	text-align: left;
	margin-top: 10px;
}


#gdocs{
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	text-align: left;
}
#gdocs textarea {
	background-color: #cccccc;
}