/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2015, 11:55:12 AM
    Author     : BronyakinD
*/

.title{
	font-size: 32px;
	text-align: center;
}

.subtitle{
	font-size: 24px;
	text-align: center;
}

.player-select
{
	position: relative;
	float: right;
	align: right;
}

.player-list{
	position: relative;
	float: right;
	align: right;
	background-color: #ffffcc;
	padding: 10px
}
.player-name
{
	font-size: 20px;
	width: 300px;
	color: #0033ff;
}

.step-info{
	text-align: center;
}
.current-step-text
{
	font-size: 25px;
}

.players-in-game{
	padding-top: 50px;
}

.player-in-game{
	padding-top: 20px;
	
}

.player-in-game > .score 
{
	font-size: 30px;
	padding-right: 30px;
	width: 50px;
	color: #ff3366;
}

.score-buttons
{
	margin: 10px 10px 10px 10px;
}

.add-score{
	margin-left: 10px;
	width: 50px;
}


.end-game-panel{
	padding-top: 30px;
}