/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2015, 6:02:33 PM
    Author     : BronyakinD
*/
body{
	background: url(/img/bg.jpg) 100%;
	background-size: cover;
}

.results {
	text-align: center;
	margin-left: 25vw;
	overflow-y: hidden;
}

.player-line {
	text-align: left;
	width: 50vw;
	position: absolute;

	background-color: #990099;
	opacity: 0.7;
	
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
	display: table;
}

.place{
	color: white;
	font-size: 2vh;
	display: table-cell;
	vertical-align: middle;
	line-height: 0px;
	padding: 0.5vh 0.5vw 0.5vh 0.5vw;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 10%;
	text-align: center;
}

.name{
	color: white;
	font-size: 2vh;
	display: table-cell;
	vertical-align: middle;
	line-height: 0px;
	padding: 0.5vh 0.5vw 0.5vh 0.5vw;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 60%;
}
.score{
	color: white;
	text-align: right;
	font-size: 3vh;
	
	display: table-cell;
	vertical-align: middle;
	padding: 0.5vh 0.5vw 0.5vh 0.5vw;
	width: 30%;
}
