/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2015, 11:28:50 AM
    Author     : BronyakinD
*/

#main {
	width: 100%;
	height: 100%;
	background-color: #4f2e85;
	background-image: url(/img/logo-main.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}