/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2015, 4:43:38 PM
    Author     : BronyakinD
*/

*{
}
body{
	background: url(/img/bg.jpg) 100%;
	background-size: cover;
}

.wrap{
	width: 100%;
	text-align: center;
}

.pg{
	color: white;
	font-size: 3vw;
}

.game{
	color: white;
	font-size: 3vw;
}

.players{
	width: 100%;
	align: center;
	text-align: center;
	background: url(/img/grad.png) no-repeat center center;
	background-size: 100%;
	
}

.player{
	padding: 2vh 2vw 2vh 2vw;
	display: inline-block;
	text-align: center;
	width: 21%;
}

.name
{
	font-size: 2vw;
	color: white;
}

.scoreframe
{
	width: 17vw;
	height: 17vw;
	text-align: center;
	line-height: 17vw;
}

.scoreframecurrent
{
	background: url(/img/frame.png);
	background-size: cover;
}

.scoreframefinal
{
}

.score
{
	color: white;
	font-size: 7vw;
}
