/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 4:56:56 PM
    Author     : BronyakinD
*/

.error{
	color: red;
}

.ok{
	color: green;
}